* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "黑体";
}
li {
  list-style-type: none;
}
#nav {
  /* background-color: #fff; */
  /* position: relative; */
  /* height: 72px; */
  line-height: 72px;
  display: flex;
  align-items: center;
  /* width: 100%; */
  /* margin: 0 auto; */
  padding: 10px 30px;
}
#nav .logo {
  width: 200px;
  cursor: pointer;
}
#nav li {
  float: left;
  margin-left: 30px;
  cursor: pointer;
}
#nav .search {
  margin-left: 200px;
  height: 40px;
  width: 320px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
#nav .search input {
  width: 73%;
  height: 90%;
  border: none;
  background-color: transparent;
  outline: none;
  margin-left: 10px;
}
#nav .search .btn {
  width: 82px;
  height: 40px;
  line-height: 40px;
  float: right;
  border-radius: 40px;
  background: linear-gradient(90deg,#ff5f00,#ffa000);
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
#nav .right {}
}

#nav .right .vip {

}

#nav .right .upload {
  
}

#nav .right .message {
  
}

#nav .right .time {
  
}

#nav .right .tv {
  
}

#nav .right .avator {
  
}

#nav .right_list {
  position: absolute;
  z-index: 99;
  top: 0;
  background: #000000;
  opacity: 0.7;
  right: 25px;
  height: 532px;
  width: 300px;
  background-color: black;
}
#nav .right_list ul {
  opacity: 1 !important;
  margin-top: 72px;
}
#nav .right_list li {
  opacity: 1;
  margin-top: 0;
  font-weight: bold;
  color: #888;
  line-height: 35px !important;
  font-size: 18px;
  clear: both;
}
#nav .right_list li p {
  display: none;
  font-size: 15px;
}
#header {
  height: 460px;
  width: 100%;
}
#header img {
  height: 100%;
  width: 100%;
}
.button_nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}
.button_nav div {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  border-radius: 42px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  height: 42px;
  width: 100px;
  background-color: #fff;
  line-height: 42px;
  font-weight: bold;
}
.button_nav div:nth-child(2) {
  width: 120px;
}
.button_nav div:nth-child(6) {
  width: 130px;
}
.button_nav div img {
  width: 30px;
  height: 33px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.button_nav ul li {
  float: left;
  margin-left: 40px;
  font-weight: bolder;
}
.hot_video {
  width: 100%;
  height: 300px;
  padding: 25px;
}
.hot_video .hot_head {
  height: 42px;
  width: 100%;
  margin-bottom: 30px;
}
.hot_video .hot_head h2 {
  font-weight: 800;
  font-size: 28px;
}
.hot_video .content {
  display: flex;
  height: 200px;
}
.hot_video .content div {
  flex: 1;
  margin-left: 20px;
}
.hot_video .content div:nth-child(1) {
  margin: 0;
}
.hot_video .content div img {
  height: 130px;
  width: 210px;
  margin-left: 5px;
  border-radius: 5px;
}
.hot_video .content div h4 {
  margin-top: 10px;
  font-size: 15px;
}
.hot_video .content div p {
  color: #999;
  margin-top: 10px;
  font-size: 13px;
}
.king_content {
  width: 100%;
  height: 500px;
  padding: 25px;
}
.king_content .king_box {
  margin-top: 30px;
  height: 400px;
  width: 100%;
}
.king_content .king_box .box1 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  float: left;
  background-color: #fff;
  height: 100%;
  width: 450px;
  margin-right: 10px;
}
.king_content .king_box .box1 img {
  border-radius: 5px;
  height: 259px;
  width: 450px;
}
.king_content .king_box .box1 h2 {
  padding-left: 10px;
  margin-top: 50px;
  font-size: 22px;
  font-weight: 800;
}
.king_content .king_box .box1 p {
  padding-left: 10px;
  color: #999;
  margin-top: 10px;
  font-size: 13px;
}
.king_content .king_box .box2 {
  height: 100%;
  width: 900px;
  float: left;
}
.king_content .king_box .box2 div {
  margin-left: 25px;
  float: left;
  background-color: #fff;
  height: 200px;
  width: 200px;
  padding: 1px;
}
.king_content .king_box .box2 div img {
  height: 130px;
  width: 200px;
  border-radius: 5px;
}
.king_content .king_box .box2 div h4 {
  margin-top: 10px;
  font-size: 15px;
}
.king_content .king_box .box2 div p {
  color: #999;
  margin-top: 10px;
  font-size: 13px;
}
.movie {
  height: 500px;
  width: 100%;
  padding: 25px;
}
.movie .movie_head h2 {
  padding-left: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 800;
}
.movie .movie_content {
  float: left;
  height: 400px;
  width: 230px;
  background-color: #fff;
  padding: 10px;
}
.movie .movie_content img {
  height: 300px;
  width: 210px;
  border-radius: 5px;
}
.movie .movie_content h4 {
  margin-top: 10px;
  font-size: 15px;
}
.movie .movie_content p {
  color: #999;
  margin-top: 10px;
  font-size: 13px;
}
.bottom {
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: #f8f8f8;
}
.bottom img {
  height: 30px;
}
.bottom li {
  float: left;
  margin-left: 20px;
  font-size: 15px;
  color: #888;
}
.footer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer .list_1 li {
  font-size: 15px;
  color: #888;
  margin-left: 10px;
  float: left;
}
.footer .list_1 li:nth-child(2n) {
  width: 1px;
  height: 15px;
  background-color: #888;
}
.footer p {
  color: #888;
  font-size: 15px;
  margin-top: 10px;
}
.footer p:last-child {
  margin-bottom: 50px;
}
.footer div {
  margin-top: 10px;
}
