@font-face {
  font-family: "iconfont"; /* Project id 4778656 */
  src: url('iconfont.woff2?t=1733919687882') format('woff2'),
       url('iconfont.woff?t=1733919687882') format('woff'),
       url('iconfont.ttf?t=1733919687882') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
  content: "\e668";
}

.icon-VIP:before {
  content: "\e83d";
}

.icon-upload:before {
  content: "\e658";
}

.icon-tv:before {
  content: "\e8b0";
}

.icon-time:before {
  content: "\e680";
}

